<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
      {{!-- <h4>Node MySQL</h4> --}}
      <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="/share">Share</a></li>
        <li><a href="/trips">Trips</a></li>
      </ul>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
<div class="container container-fluid">
  <header id="admin-header-driving">
    <h2>Driving</h2>
    <p>Upcoming trips for which you are driving. Use this section to approve or deny ride requests, manage, and plan your trip details.</p>
    <a href="/share.php"><i class='icon-plus'></i> New Trip</a>
  </header>
  <table class="table table-bordered table-hover trips" id="trips-driving-table">
    <thead>
      <tr>
        <th class="departure">Departure</th>
        <th class="origin">Origin</th>
        <th class="destination">Destination</th>
        <th class="riders">Riders</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody id="trips-driving">
    
        {{!-- <td id="trips-driving-status" colspan="5">
          <img id="trips-driving-loader" class="loader" src="/img/ajaxloader.gif">
          <em id="trips-driving-msg" style="display: none;">There are no upcoming trips for which you are driving.</em>
        </td> --}}
        {{#each results}}
        {{!-- {{#eq "this.license" "1"}} --}}
          <tr>
            <td>{{this.date}}</td>
            <td>{{this.source}}</td>
            <td>{{this.destination}}</td>
          </tr>
        {{!-- {{/eq}}  --}}
        {{/each}}
      
      
    </tbody>
  </table>


  <header id="admin-header-riding">
    <h2>Riding</h2>
    <p>Upcoming trips for which you are riding with some else.</p>
  </header>
  <table class="table table-bordered table-hover trips" id="trips-riding-table">
    <thead>
      <tr>
        <th class="departure">Departure</th>
        <th class="origin">Origin</th>
        <th class="destination">Destination</th>
        <th class="status">Request Status</th>
      </tr>
    </thead>
    <tbody id="trips-riding">
     
        {{!-- <td id="trips-riding-status" colspan="5">
          <img id="trips-riding-loader" class="loader" src="/img/ajaxloader.gif">
          <em id="trips-riding-msg" style="display: none;">There are no upcoming trips for which you are riding with someone.</em>
        </td> --}}
        {{#each results}}
        {{#if this.tripId}}
          <tr>
            <td>{{this.date}}</td>
            <td>{{this.source}}</td>
            <td>{{this.destination}}</td>
            <td>{{this.status}}</td>
          </tr>
          {{/if}}
        {{/each}}
        
    </tbody>
  </table>

</div>
</body>
</html>